.homepage {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

.homepage__hello {
  display: flex;
  height: 100vh;
  align-items: center;
}
.homepage__bio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage__block {
  display: flex;
  align-items: center;
}

.homepage__description {
  width: 50%;
  margin-right: 50px;
}
.homepage__description:nth-child(2) {
  margin-right: 0px;
  margin-left: 50px;
}

.homepage__heading {
  margin-top: 0;
  margin-bottom: 28px;
  text-align: start;
  width: 100%;
}

.homepage__heading_animated {
  animation: opacity 4s;
}

.text-orange-light {
  color: #fff4e0;
}

.text-orange-medium {
  color: #ffbf9b;
}

.text-orange-dark {
  color: #b46060;
}

.homepage__text {
  text-align: justify;
  width: 100%;
  margin-bottom: 14px;
  margin-top: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}
.homepage__text:last-of-type {
  margin-bottom: 0;
}
.homepage__fig {
  width: 50%;
  margin: 0;
}
.homepage__pic {
  width: 100%;
  object-fit: contain;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 15px;
}

.homepage__caption {
  font-style: italic;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.homepage__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.homepage__git {
  max-width: 40px;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
